.navBar {

}

.titleSection {
    width: 40%;
}

.title {
    
}

.profileSection {
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.notificationContainer {
    margin-right: 10px;
}

.accountLinkContainer {
    margin-left: 10px
}
